:root {
    --bg: #0a0e1a; /*cor de fundo/background*/
    --painel: #0f1535; /*painéis*/
    --borda:  #1e2d5a;  /*bordas da página*/
    --accent: #5b8cff; /* navy blue*/
    --accent2: #a855f7; /*purple*/
    --texto: #c8d8f0; /*texto claro*/
    --texto2: #4a6080; /*texto secundário*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    color: var(--texto);
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-marca img{
    width: 120px;
    height: 120px;
    object-fit: contain;
    margin-bottom: 12px;
}

.login-container {
    background-color: var(--bg);
    border: 1px solid var(--accent);
    border-radius: 8px;
    padding: 40px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1 {
    font-size: 24px;
    background: linear-gradient(
        90deg,
        var(--accent),
        #38bdf8,
        var(--accent2),
        #ec4899
    );
    margin-bottom: 32px;

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subtitulo {
    font-size: 15px;
    color: var(--accent2);
    margin-bottom: 32px;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    background-color: var(--texto);
    font-size: 15px;
}

input:focus {
    outline: none;
    border-color: var(--borda);
}

button {
    width: 100%;
    padding: 12px;
    background-color: var(--accent2);
    color: var(--texto);
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    background-color: var(--accent);
}

a {
    color: var(--accent);
}

.cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
}

.cadastro-rodape {
    text-align: center;
}

.empresa {
    gap: 16px;
    line-height: 16px;
}

.campo {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    background-color: var(--painel);
    border: 1px solid var(--borda);
    border-radius: 6px;
    color: var(--texto);
    font-size: 15px;
}

@media (max-width: 768px) {

    .login-container {
        padding: 24px;
        margin: 16px;
    }

    .logo-marca img {
        width: 80px;
        height: 80px;
    }

    h1 {
        font-size: 20px;
    }

}